body{
    background-color: rgb(155, 169, 164);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-weight: bold;
}
#wrapper{
    border: solid thick rgb(63, 63, 63);
    border-radius: 60px;
    margin: 15px;
}

header{
    text-align: center;
    background-color: #00A120;
}
main{
    margin: 70px;
}
footer{
    margin: 70px;
}

#flexBox{
    display: flex;
    flex-direction: row;
}
h2{
    text-align: center;
}
#left{
    flex: 1;

    border-left: rgb(155, 169, 164) 20px solid;
    border-style: groove;
    border-radius: 25px;
}
#right{
    flex: 1.25;
    /*Flex the right side so it fills*/
    flex-direction: column;
    display: flex;

    border-left: rgb(155, 169, 164) 20px solid;
    border-style: groove;
    border-radius: 25px;
}
#right > #rightTop{
    flex: 1;
}
#right > #rightBottom{
    flex: 1;
}

#buttonsGroup{
    margin-left: 15px;
}
.toggleOff{
    margin: 1px;
    background-color: rgb(191, 59, 59);
    color:rgba(255, 255, 255, 0.719);

    border: gray thick solid;
    border-radius: 10px;
    
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
select{
    width: 24%;
    height: 30px;

    font-size: 120%;
    background-color: rgb(204, 219, 214);

    border: gray thick solid;
    border-radius: 10px;
}
button{
    margin: 1px;
    background-color: #b5b5b5;

    border: gray thick solid;
    border-radius: 10px;
    
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

    margin-bottom: 15px;
}
button[type=submit]{
    width: 200px;
    height: 100px;
}
button:active{
    background-color: #695353;
    color: white;
}

#orderInfo{
    display: flex;
    flex-direction: column;
}

infoBit{
    flex-direction: row;
    display: flex;
    border-bottom: thin black solid;
}
infoLeft{
    flex: 1;
}
infoLeft > img{
    width: 60%;
}
infoRight{
    flex: 2;
    margin-left: -13%;

    color: #ffffffc6;
    font-size: 25px;
}
#placeOrderDiv{
    display: none;
}
label{
    font-size: 17pt;
}

textarea{
    background-color: rgb(188, 204, 198);
    border: #695353 thick solid;
    border-radius: 15px;

    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;

    padding: 5px;
    margin: 5px;
}
input[type=text]{
    background-color: rgb(188, 204, 198);
    border: #695353 thick solid;
    border-radius: 15px;

    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;

    padding: 5px;
    margin: 5px;
}
input[type=tel]{
    background-color: rgb(188, 204, 198);
    border: #695353 thick solid;
    border-radius: 15px;

    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;

    padding: 5px;
    margin: 5px;
}
::placeholder{
    font-weight: bold;
}
table{
    margin-left: auto;
    margin-right: auto;
    border: solid thin black;

    font-size: 20pt;
}
td{
    border-top: solid thin black;
}
.alignRight{
    text-align: right;
    border-left: solid thin black;
}
h1{
    text-align: center;
}